#result {
  --planetColor: #cfad3e;
  --planetRadiusPercent: 0.6;
  --planetRadius: calc(var(--planetRadiusPercent) * var(--resultSize));
  --planetCloudRotate: 0deg;
  --planetCloudOpacity: 1;
  --planetDetailColor: 60deg;
  --planetDetailOpacity: 0.5;
  --planetDetailRotate: 0deg;
}
#result > * {
  height: var(--planetRadius);
  width: var(--planetRadius);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  position: absolute;
}
#planet {
  background-color: var(--planetColor);
  border-radius: 50%;
  filter: drop-shadow(0 0 var(--planetAtmosphereSize) var(--planetColor));
}
#shadow {
  border-radius: 50%;
  background-color: #00000000;
  z-index: 20;
  box-shadow: inset calc(var(--planetRadius) * -0.1) -10px 10px #000000ee, inset 0 0 calc(var(--planetRadius) * 0.05) #ffffff;
}
#cloud {
  z-index: 10;
  height: var(--planetRadius);
  width: var(--planetRadius);
  position: relative;
  transform: translate(-50%, -50%) rotate(var(--planetCloudRotate));
  opacity: var(--planetCloudOpacity);
}
#detail {
  z-index: 5;
  filter: hue-rotate(var(--planetDetailColor));
  opacity: var(--planetDetailOpacity);
  transform: translate(-50%, -50%) rotate(var(--planetDetailRotate));
}
