#result {
  /* 初始化行星 */
  --planetColor: #2f8990;
  --planetRadiusPercent: 0.45;
  --planetRotate: 20deg;
  --planetAtmosphereSize: 3px;
  --planetRadius: calc(var(--planetRadiusPercent) * var(--resultSize));
  --planetCloudRotate: 20deg;
  --planetCloudOpacity: 0.8;
  --planetDetailColor: 147deg;
  --planetDetailOpacity: 0.43;
  --planetDetailRotate: 225deg;
  --planetRingOpacity: 1;
  --planetRingRotate: -10deg;
  --planetRingRotateX: 80deg;
  --planetRingColor: 190deg;
  --starColor: #fff4ea;
  /* --starCenterLocation: -50%; */
  --starCenterLocation: -1000000%;
  --starRadiusPercent: 0.06;
  --starRadius: calc(var(--starRadiusPercent) * var(--resultSize));
}
#planet {
  transform: translate(0, 0) rotate(var(--planetRotate));
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s;
}
#planet > *,
#star {
  height: var(--planetRadius);
  width: var(--planetRadius);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 0.3s;
}
#base {
  background-color: var(--planetColor);
  border-radius: 50%;
  filter: drop-shadow(0 0 var(--planetAtmosphereSize) var(--planetColor));
}
/* #shadow {
  border-radius: 50%;
  background-color: #00000000;
  z-index: 20;
  box-shadow: inset calc(var(--planetRadius) * -0.1) 0px 10px #000000ee, inset 0 0 calc(var(--planetRadius) * 0.3) #ffffff88, inset 0 0 calc(var(--planetRadius) * 0.05) #ffffff;
  } */
#innerLight {
  z-index: 19;
  border-radius: 50%;
  box-shadow: inset 0 0 calc(var(--planetRadius) * 0.3) #ffffff88, inset 0 0 calc(var(--planetRadius) * 0.05) #ffffff;
}
#shadow {
  --blur: 2.5px;
  border-radius: 50%;
  z-index: 20;
  filter: blur(var(--blur));
  /* background-color: #000000; */
  transform: translate(-50%, -50%) scale(1.05);
  opacity: 0.9;
}
#cloud {
  z-index: 10;
  height: var(--planetRadius);
  width: var(--planetRadius);
  transform: translate(-50%, -50%) rotate(var(--planetCloudRotate));
  opacity: var(--planetCloudOpacity);
}
#detail {
  z-index: 5;
  filter: hue-rotate(var(--planetDetailColor));
  opacity: var(--planetDetailOpacity);
  transform: translate(-50%, -50%) rotate(var(--planetDetailRotate));
}
#planet > .ring {
  z-index: 25;
  width: calc(var(--planetRadius) * 3);
  height: calc(var(--planetRadius) * 3);
  transform: translate(-50%, -50%) rotate(var(--planetRingRotate)) rotateX(var(--planetRingRotateX));
  opacity: var(--planetRingOpacity);
  filter: brightness(1) grayscale(0.1) hue-rotate(var(--planetRingColor)) saturate(0.2);
  color: #577f87;
}
#planet > #ringBehind {
  z-index: -1;
  clip-path: inset(0% 0% 50% 0%);
}
#planet > #ringFront {
  clip-path: inset(50% 0% 0% 0%);
}
/* 实现前后遮挡效果 */
#result div#star {
  z-index: -5;
  /* opacity: 0; */
  background-color: var(--starColor);
  width: var(--starRadius);
  height: var(--starRadius);
  border-radius: 50%;
  box-shadow: var(--starColor) 0 0 30px 10px, #ffffff 0 0 calc(0.25 * var(--starRadius)) inset;
  transform-origin: 50% 50%;
  transform: translate(calc(var(--starCenterLocation) - var(--starRadius) / 2), -50%);
}
#asterism {
  --asterismSize: 1500px;
  z-index: 100;
  width: var(--asterismSize);
  height: initial;
  transform-origin: 50% 50%;
  /* transform: translate(var(--starLocation), -50%); */
  transform: translate(calc(var(--starCenterLocation) - var(--asterismSize) / 2), -50%) rotate(calc(-1*var(--planetRotate)));
  opacity: 0.7;
}
